
//Variables
    //Colors
    // Primary
    $card-Daniel: #733FC8;
    $card-Jonathan: #48556A;
    $card-Jeanette: #FFFFFF;
    $card-Patrick: #19202D;
    $card-Kira: #FFFFFF;
    $Moderate-violet: hsl(263, 55%, 52%);
    $Very-dark-grayish-blue: hsl(217, 19%, 35%);
    $font-color-kira-janette: hsl(219, 29%, 14%);
    $font-color-johnathan: hsl(0, 0%, 100%);

    //Neutral
    $light-gray: hsl(0, 0%, 81%);
    $Light-grayish-blue: hsl(210, 46%, 95%);

    //Typography
    $Font-size: 13px;
    $Font-family: 'Barlow Semi Condensed', sans-serif;